extends layout

block content
  
  // Navigation
  nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
    .container
      a.navbar-brand(href='#') Nosotros
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='#') Bicicletas
          li.nav-item
            a.nav-link(href='#') Contacto  
          li.nav-item
            a.nav-link(href='#') Sign Up
          li.nav-item
            a.nav-link(href='#') Log In
  header.masthead.text-center.text-white
    .masthead-content
      .container
        h1.masthead-heading.mb-0 Red Bicicletas
        h2.masthead-subheading.mb-0 La primera comunidad online de ciclistas urbanos
        a.btn.btn-primary.btn-xl.rounded-pill.mt-5(href='#') Comenzar
    .bg-circle-1.bg-circle
    .bg-circle-2.bg-circle
    .bg-circle-3.bg-circle
    .bg-circle-4.bg-circle

    // seccion del mapa
  section
    .container
       #main_map


  section
    .container
      .row.align-items-center
        .col-lg-6.order-lg-2
          .p-5
            img.img-fluid.rounded-circle(src='img/01.jpg' alt='')
        .col-lg-6.order-lg-1
          .p-5
            h2.display-4 For those about to rock...
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
  section
    .container
      .row.align-items-center
        .col-lg-6
          .p-5
            img.img-fluid.rounded-circle(src='img/02.jpg' alt='')
        .col-lg-6
          .p-5
            h2.display-4 We salute you!
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
  section
    .container
      .row.align-items-center
        .col-lg-6.order-lg-2
          .p-5
            img.img-fluid.rounded-circle(src='img/03.jpg' alt='')
        .col-lg-6.order-lg-1
          .p-5
            h2.display-4 Let there be rock!
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
  
  // Footer
  footer.py-5.bg-black
    .container
      p.m-0.text-center.text-white.small Copyright &copy; Your Website 2020
  
    // /.container
  // Bootstrap core JavaScript
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
  script(src='/javascripts/maps.js')

